*{
    margin: 0;
    padding: 0;
}
.nav a{
    list-style: none;
    color: white;
}
.nav div{
    display: flex;
    margin: 5px;
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color: #7952B3;
}

#SearchRecipe{
    display: flex;
    justify-content: space-between;
    background-color: #b795eb;
}

#submitBtn{
    background-color: #521de4;
    color: aliceblue;
    border-radius: 2px;
}

#container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,30%);
    gap: 3%;
}
#container img{
    max-width: 100%;
    margin: 5px;
}